<html>
<head>
  <title>Concussion Data</title>
  <link href="/app.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>
<body>
  <div class='home' ng-app='concussionData'>
    <h1>NFL Concussion Data</h1>
    <div class='data-graph' ng-controller='graphController'>
      <div class='filters'>
        <span class='title'>Filters</span>
        <ul>
          <li><button class="tiny button" ng-click="switchFilter($event)" data-value="team" ng-class="{active: 'team'==activeFilter}">Team</button></li>
          <li><button class="tiny button" ng-click="switchFilter($event)" data-value="name" ng-class="{active: 'name'==activeFilter}">Name</button></li>
          <li><button class="tiny button" ng-click="switchFilter($event)" data-value="number" ng-class="{active: 'number'==activeFilter}">Number</button></li>
          <li><button class="tiny button" ng-click="switchFilter($event)" data-value="position" ng-class="{active: 'position'==activeFilter}">Position</button></li>
          <li><button class="tiny button" ng-click="switchFilter($event)" data-value="opponent" ng-class="{active: 'opponent'==activeFilter}">Opponent</button></li>
        </ul>
      </div>
      <div class='season'>
        <span class='title'>Season</span>
        <ul>
          <li><button class="tiny button style-active"  ng-click="switchSeason($event)" data-value={{}} ng-class="{active: ''==activeSeason}">All</button></li>
          <li><button class="tiny button" ng-click="switchSeason($event)" data-value='2012' ng-class="{active: '2012'==activeSeason}">2012</button></li>
          <li><button class="tiny button" ng-click="switchSeason($event)" data-value='2013' ng-class="{active: '2013'==activeSeason}">2013</button></li>
        </ul>
      </div>
      <div class='week'>
        <span class='title'>Week</span>
        <ul>
          <li><button class="tiny button style-active" ng-click="switchWeek($event)" data-value={{}} ng-class="{active: ''==activeWeek}">All</button></li>
          <li ng-repeat="week in weeks">
            <button class="tiny button" ng-click="switchWeek($event)" data-value={{$index+1}} ng-class="{active: $index+1==activeWeek}">{{week}}</button>
          </li>
        </ul>
      </div>

      <div class='graph'>
      </div>
    </div>
  </div>
</body>
</html>

