<html>
<head>
  <title>Concussion Data</title>
  <link href="/app.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>
<body>
  <div class='home' ng-app='concussionData'>
    <h1>NFL Concussion Data</h1>
    <div class='data-graph' ng-controller='graphController'>
      <div class='filters'>
        <span class='title'>Filters</span>
        <ul>
          <li class='name' ng-click="switchFilter($event)">Name</li>
          <li class='number' ng-click="switchFilter($event)">Number</li>
          <li class='position' ng-click="switchFilter($event)">Position</li>
          <li class='team' ng-click="switchFilter($event)">Team</li>
          <li class='opponent' ng-click="switchFilter($event)">Opponent</li>
        </ul>
      </div>
      <div class='season'>
        <span class='title'>Season</span>
        <ul>
          <li ng-click="switchSeason($event)" data-value={{}}>Any</li>
          <li ng-click="switchSeason($event)" data-value='2012'>2012</li>
          <li ng-click="switchSeason($event)" data-value='2013'>2013</li>
        </ul>
      </div>
      <div class='week'>
        <span class='title'>Week</span>
        <ul>
          <li data-value={{}} ng-click="switchWeek($event)">Any</li>
          <li ng-repeat="week in weeks" ng-click="switchWeek($event)" data-value={{$index+1}}>
            {{week}}
          </li>
        </ul>
      </div>

      <div class='graph'>
      </div>
    </div>
  </div>
</body>
</html>

