.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.filters, .season, .week {
  text-align: center;
}

.home ul{
  list-style: none;
  padding: 0;
}

.active{
  color: red;
}

.nfl-logo, .search{
  height: auto;
}

.top-search{
  height: 95px;
}

