.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.filters, .season, .week {
  text-align: center;
}

.home ul{
  list-style: none;
  padding: 0;
}

.active{
  color: red;
}

.nfl-logo, .search{
  margin-top: 15px;
}

.top-search{
  height: 95px;
}

.season .left{
  text-align: left;
}

.season .right{
  text-align: right;
}

.slider-labels{
  margin-top: 5px;
}

.season-label{
  display: inline-block;
  text-align: center;
}

.season-label:first-of-type{
  text-align: left;
}

.season-label:last-of-type{
  text-align: right;
}

.week-label{
  display: inline-block;
  text-align: left;
  width: 6.25%;
}

.week-label:last-of-type{
  position: absolute;
  right: 0;
}

